<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/formstyle.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
    <script th:src="@{/js/main.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <title>Journal</title>
</head>
<body>
<div class="container" th:fragment="menu">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Бренд</a>
        </div>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><span class="glyphicon glyphicon-home"/> Главная</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/orders?size=10}"><span class="glyphicon glyphicon-list-alt"/> Заказы</a></li>
                <li sec:authorize="hasRole('PROVIDER')"><a data-toggle="modal" href="#myModal">Добавить заказ</a></li>
                <li sec:authorize="hasRole('PROVIDER')"><a th:href="@{/subscribe}"><span class="glyphicon glyphicon-user"/> Добавить заказчика</a></li>
            </ul>
            <ul th:if="${#authorization.expression('isAuthenticated()')}" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a sec:authentication="name" href="#" class="dropdown-toggle" data-toggle="dropdown">Профиль<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/user/update}">Редактировать</a></li>
                        <li><a href="#">Помощь</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>