<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/formstyle.css}"
          rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
    <script th:src="@{/js/main.js}"/>
    <title>Journal</title>
</head>
<body>
<div class="container">
    <div class="form">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Авторизация на сайте</h3>
            </div>
            <div class="panel-body">
                <form method="post" role="form" action="/login">
                    <div th:if="${param.error}" class="text-danger">
                        Не верный логин или пароль
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control" placeholder="Имя пользователя" name="username"
                               required="required" autofocus="autofocus"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" name="password" class="form-control" placeholder="Ваш пароль"
                               required="required"/>
                    </div>
                    У вас нет аккаунта? <a href="/user/create">Регистрация</a>
                    <div class="checkbox">
                        <label>
                            <input name="remember-me" type="checkbox" value="remember-me"/>
                            Запомнить меня
                        </label>
                    </div>
                    <button type="submit" class="btn btn-labeled btn-success">
                        <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Войти
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>