<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/formstyle.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
    <script th:src="@{/js/main.js}"/>
    <title>Journal</title>
</head>
<body>
<div class="container">
    <div class="form">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Авторизация на сайте</h3>
            </div>
            <div class="panel-body">
                <form th:object="${form}" action="/user/create" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Логин" name="username" id="username"
                               th:field="*{username}"/>
                        <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        <input type="password" class="form-control" placeholder="Пароль" name="password" id="password"
                               th:field="*{password}"/>
                        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        <input type="email" class="form-control" placeholder="Почта" name="mail" th:field="*{mail}"/>
                        <p class="text-danger" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></p>
                        <label for="role">Role</label>
                        <select class="form-control" th:field="*{authorities}" id="role">
                            <option th:value="USER">Обычный пользователь</option>
                            <option th:value="PROVIDER">Поставщик услуг</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-labeled btn-success">
                        <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Регистрация
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>