<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragment/templ :: header"></head>
<body>
<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#main-menu"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Бренд</a>
    </div>
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><span class="glyphicon glyphicon-home"/> Главная</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/orders?size=10"><span
            class="glyphicon glyphicon-list-alt"/> Заказы</a></li>
        <li sec:authorize="hasRole('PROVIDER')"><a th:href="@{/subscribe}"><span
            class="glyphicon glyphicon-user"/> Заказчики</a></li>
      </ul>
      <ul th:if="${#authorization.expression('isAuthenticated()')}"
          class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a sec:authentication="name" href="#" class="dropdown-toggle" data-toggle="dropdown">Профиль<b
              class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Редактировать</a></li>
            <li><a href="#">Помощь</a></li>
            <li class="divider"></li>
            <li><a th:href="@{/logout}">Выход</a></li>
          </ul>
        </li>
      </ul>
      <ul th:if="${!#authorization.expression('isAuthenticated()')}"
          class="nav navbar-nav navbar-right">
        <li><a th:href="@{/login}">Вход в систему</a></li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
    <h1>Сервис для отслеживания заказов</h1>
    <p>Если Вы хотите предоставить вашему клиенту информацию о состоянии заказа или
      услуги, Вы можете воспользоваться данным сервисом.</p>
    <h3>Чтобы начать, зарегистрируйтесь и перейдите в раздел заказов</h3>
    <div class="row">
      <div class="col-sm-2">
        <img class="img-rounded center-block" th:src="@{/img/1.jpg}"/>
      </div>
    </div>
  </div>
</div>
</body>
</html>