<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
    <script src="https://unpkg.com/hybind@latest/index.js"></script>
    <script th:src="@{/js/main.js}"/>
    <title>Journal</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Бренд</a>
        </div>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Главная <span class="sr-only"></span></a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/orders">Заказы</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a data-toggle="modal" href="#myModal">Добавить заказ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Профиль<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Редактировать</a></li>
                        <li><a href="#">Помощь</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>